.container {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: grid;
  grid-template-columns: 2fr 1fr;

  .song-info {
    padding: 40px;
    background-color: #CCB187;
  }

  .setlist {
    background-color: #7A6B51;
    padding: 40px;
    padding-top: 80px;
  }

  .logged-in {
    .title-and-logout {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      padding-left: 0;
    }
    .logout-button {
      width: 40%;
      .text-button {
        min-width: 100%;
      }
    }
  }
}
