.container {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: fit-content;
  display: grid;
  grid-template-columns: 2fr 1fr;

  .song-info {
    padding: 40px;
    background-color: #CCB187;

    .app-heading {
      display: flex;
      align-items: center;

      .gigInterface {
        margin-left: 20px;
        display: flex;
        align-items: center;
        width: -webkit-fill-available;
        justify-content: space-between;
        .timer {
          display: grid;
          align-items: center;
          grid-template-columns: repeat(6, auto);
          grid-gap: 10px;
          .buttons {
            border-radius: 45px;
            button {
              max-width: 150px;
              padding: 5px 10px;
              color: #000;
              background-color: rgba(0,0,0,0);
              border: none;
              cursor: pointer;
              outline: none;
              font-size: 22px;
            }
          }
        }
        .song-change {
          display: flex;
          button {
            padding: 5px 10px;
            color: #000;
            background-color: rgba(0,0,0,0);
            border: none;
            cursor: pointer;
            outline: none;
            font-size: 16px;
          }
        }
      }

    }
  }

  .setlist {
    background-color: #7A6B51;
    padding: 40px;
    padding-top: 80px;
  }

  .logged-in {
    .title-and-logout {
      display: flex;
      justify-content: space-between;
      padding: 20px;
      padding-left: 0;
    }
    .logout-button {
      width: 40%;
      .text-button {
        min-width: 100%;
      }
    }
  }
}


@media (max-width: $Laptops) {
  .container {
    width: 100vw;
    display: grid;
    grid-template-columns: none;
    grid-template-rows: 1fr auto;
    min-height: unset;
    height: 1500px;
  }
}

@media (max-width: $Tablets) {
  .container {
    .song-info {
      .app-heading {
        .gigInterface {
          display: grid;
        }
      }
    }
  }
}

@media (max-width: $Phones) {
  .container {
    .song-info {
      padding-left: 20px;
      padding-right: 0;
    }
    .setlist {
      padding-left: 20px;
      padding-right: 0;
      .logged-in {
        .song-list {
          .song-card {
            margin-right: 20px;
          }
        }
      }
    }
  }
}

@media (min-width: $Laptops-big) {
  .container {
    width: inherit;
  }
}
