.create-set-form {
  padding-bottom: 20px;
}

.set-login-form {
  padding-bottom: 5px;
}

::-webkit-input-placeholder {
  color: white;
  font-size: 16px;
  font-family: "Nunito";
  font-weight: 400;
}
::-moz-placeholder {
  color: white;
  font-size: 16px;
  font-family: "Nunito";
  font-weight: 400;
}
:-ms-input-placeholder {
  color: white;
  font-size: 16px;
  font-family: "Nunito";
  font-weight: 400;
}
:-moz-placeholder {
  color: white;
  font-size: 16px;
  font-family: "Nunito";
  font-weight: 400;
}

.dropzone-container {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 70%;
  align-items: center;
}

@media (max-width: $Phones) {
  .notes {
    form {
      max-width: 300px;
    }
  }
  .add-song-form {
    form {
      max-width: 250px;
    }
  }
}
