.song-display {
  margin-top: 20px;
  display: grid;
  max-height: 50vh;
  .song-display-heading {
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
    h1 {
      margin-right: 30px;
    }
    select {
      margin: 10px;
    }
  }
  .lyrics-and-video {
    margin: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    .lyrics {
      overflow-y: auto;
      max-height: 50vh;
      overflow-wrap: break-word;
      white-space: break-spaces;
    }
  }
}
