.song-display {
  margin-top: 20px;
  display: grid;
  max-height: 50vh;
  .song-display-heading {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    padding-bottom: 5px;
    h1 {
      margin: 0;
      margin-right: 30px;
    }
    select {
      margin: 0 10px;
    }
  }
  .notes {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid black;
    .notes-display {
      display: flex;
      flex-wrap: wrap;
      .note-box {
        display: flex;
        align-items: center;
        position: relative;
        margin: 5px 5px 10px 0px;
        padding: 10px 15px 10px 10px;
        border-radius: 15px;
        background-color: #998c75;
        strong {
          font-weight: 300;
        }
        .remove-note-button {
          position: relative;
          bottom: 5px;
          left: 5px;
          margin-left: 5px;
          background-color: brown;
          border-radius: 50%;
          width: 12px;
          height: 12px;
          border: none;
        }
      }
    }
    .notes-form {
      button {
        margin: 0 10px;
      }
    }
  }
  .song-dislay-info {
    margin: 10px;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 1fr 1fr;
    .lyrics {
      overflow-y: auto;
      max-height: 50vh;
      overflow-wrap: break-word;
      white-space: break-spaces;
    }
    .edit-modal {
      margin: 10px;
      margin-right: 0px;
      display: flex;
      justify-content: flex-end;
    }
  }
}

// inside modal
.song-edit-form {
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-gap: 25px;
  margin-top: 10px;
  height: 60%;
  .left {
    #lyrics {
      max-width: none;
      width: fit-content;
      height: 100%;
      width: 100%;
      resize: none;
      border-bottom: none;
    }
    #modal-submit {
      margin: 10px 0;
    }
  }
  .right {
    display: grid;
    grid-template-rows: 0.75fr 0.75fr 0.75fr;
    .row{
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      h2 {
        margin-bottom: 10px;
      }
      input {
        max-width: none;
        width: 100%;
      }
      img {
        height: 100px;
      }
    }
  }
}
