.song-display {
  padding: 0px 40px;
  display: grid;
  grid-template-rows: auto auto;
  min-height: 80vh;
  .song-display-heading {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    padding-bottom: 5px;
    h1 {
      margin: 0;
      margin-right: 30px;
    }
    select {
      margin: 0 10px;
    }
  }
  .song-display-info {
    .slider-pane-one {
      .notes {
        padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid black;
        .notes-display {
          display: flex;
          flex-wrap: wrap;
          .note-box {
            display: flex;
            align-items: center;
            position: relative;
            margin: 5px 5px 10px 0px;
            padding: 10px 15px 10px 10px;
            border-radius: 15px;
            background-color: #998c75;
            strong {
              font-weight: 300;
            }
            .remove-note-button {
              position: relative;
              bottom: 5px;
              left: 5px;
              margin-left: 5px;
              background-color: brown;
              border-radius: 50%;
              width: 12px;
              height: 12px;
              border: none;
            }
          }
        }
        .notes-form {
          button {
            margin: 0 10px;
          }
        }
      }
      .pane-one-grid {
        display: grid;
        grid-gap: 10px;
        grid-template-columns: 1fr 1fr;
        .lyrics {
          overflow-y: auto;
          max-height: 55vh;
          overflow-wrap: break-word;
          white-space: break-spaces;
        }
        .edit-modal {
          margin: 10px;
          margin-right: 0px;
          display: flex;
          justify-content: flex-end;
        }
      }
    }
    .slider-pane-two {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 63vh;
      iframe {
        width: 80%;
        height: 100%;
        margin: 10px 0;
        min-height: 60vh;
      }
    }
    .slider-pane-three {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      min-height: 63vh;
      .stems-container {
        width: 80%;
        height: 100%;
        margin: 10px 0;
        min-height: 60vh;
      }
    }
    .tablist {
      bottom: 10px;
      display: flex;
      padding: 0;
      justify-content: space-evenly;
      li {
        list-style-type: none;
        cursor: pointer;
      }
      li[aria-selected="true"] {
        h3 {
          text-decoration: underline;
        }
      }
    }
  }
}

// inside modal
.song-edit-form {
  display: grid;
  grid-gap: 3px;
  .top {
    display: grid;
    grid-column: 1 / 3;
    grid-template-rows: min-content min-content min-content;
    grid-gap: 3px;
    margin-bottom: 5px;
  }
  .left {
    overflow-y: auto;
    display: grid;
    overflow: hidden;
    grid-auto-rows: min-content auto;
    #lyrics {
      max-width: none;
      width: fit-content;
      height: 100%;
      width: 100%;
      resize: none;
      border-bottom: none;
    }
    #modal-submit {
      margin: 10px 0;
    }
  }
  .right {
    display: grid;
    grid-template-rows: repeat(4, min-content);
    grid-gap: 5px;
    overflow-y: auto;
    .row {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      h2 {
        margin-bottom: 10px;
      }
      input {
        max-width: none;
        width: 100%;
      }
      img {
        height: 100px;
        max-width: 150px;
        object-fit: cover;
      }
    }
  }
}

.chart-edit-form {
  display: flex;
  flex-direction: column;
  height: 80%;
  .inputs {
    margin: 20px;
    display: flex;
    justify-content: center;
    input[type="text"] {
      max-width: none;
      width: 70%;
    }
  }
  .chart-preview {
    margin: 0 auto;
    width: 80%;
    height: 100%;
  }
}

@media (max-width: $Laptops) {
  .song-display {
    min-height: 40vh;
    .edit-modal {
      display: none !important;
    }
  }
}
@media (max-width: $Tablets) {
  .song-display {
    min-height: 37vh;
  }
}

@media (max-width: $Phones) {
  .song-display {
    min-height: 20vh;
    padding: 0px;
    margin: 10px;
    .song-display-heading {
      flex-direction: column;
    }
    .pane-one-grid {
      display: flex !important;
      flex-direction: column-reverse;
      .lyrics {
        max-height: 65vh !important;
      }
    }
  }
}
